@charset "UTF-8";
/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback {
  background: #333333;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 10, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback a {
  display: none;
  margin-top: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.7s;
  -moz-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

/* line 18, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback::after {
  content: "";
  background: #dddddd;
  height: 15px;
  width: 15px;
  z-index: 99;
  display: block;
  transform: rotate(45deg);
  position: fixed;
  right: 17px;
  bottom: 28px;
  border-radius: 3px;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 32, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover {
  width: 100px;
  color: #dddddd;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 36, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover::after {
  background: #993629;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 40, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover a {
  display: block;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.7s;
  -moz-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs {
  float: none;
  list-style: none;
  text-align: left;
  width: 50px;
}

/* line 6, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs li {
  float: left;
  display: block;
}

/* line 10, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

/* line 15, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  color: #dddddd;
  border-bottom: 0;
  position: relative;
  right: 48px;
  width: 50px;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 29, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label:hover {
  background-color: #993629;
}

/* line 31, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label:hover::after {
  overflow: visible;
}

/* line 35, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label::after {
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  overflow: hidden;
  z-index: 99999;
  top: 50px;
  width: 0;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 48, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs .tab-content {
  display: none;
  overflow: scroll;
  font-size: 17px;
  padding: 25px;
  color: #dddddd;
  background-color: #333333;
  bottom: 10px;
  position: fixed;
  width: 900px;
  top: 0;
  bottom: 0;
  left: 50px;
  padding-bottom: 200px;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;
}

/* line 63, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs .tab-content::after {
  width: 100%;
  height: 10px;
  display: block;
  background: #993629;
  position: fixed;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 999;
}

/* line 76, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs [id^="tab"]:checked + label {
  border-right: 5px solid #993629;
  width: 45px;
}

/* line 80, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#s-m-t-tooltip {
  max-width: 300px;
  z-index: 10;
  margin: 24px 14px 7px 12px;
  padding: 8px;
  background: #333333;
  border: 2px solid #dddddd;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #dddddd;
}

/* line 14, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::selection {
  background: #993629;
}

/* line 17, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-moz-selection {
  background: #993629;
}

/* line 21, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* line 26, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar-thumb {
  background: #993629;
}

/* line 30, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar-track {
  background: #333333;
}

/* line 34, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
s {
  text-decoration-color: #993629;
}

/* line 38, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-widget-content {
  border: none;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  border-radius: 0;
  background: #333333;
  color: #dddddd;
  font-size: 16px;
}

/* line 48, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-widget {
  font-family: 'Noto Sans', sans-serif;
}

/* line 53, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-dialog .ui-dialog-titlebar {
  border: 0;
  background: transparent;
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 40px;
  padding: .1em 1em;
}

/* line 63, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-button {
  border: 2px solid #993629;
  outline: 0;
  background: #dddddd;
}

/* line 69, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.text {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

/* line 76, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* line 80, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.diag {
  display: none;
}

/* line 84, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.side {
  background: #993629;
  opacity: 0.7;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

/* line 95, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.gradient {
  height: 100%;
  position: fixed;
  z-index: -99999;
  right: 0;
  top: 0;
  left: 1000px;
  opacity: 0.7;
  background: #333333;
}

/* line 110, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h1 {
  position: fixed;
  font-family: 'Wire One', sans-serif;
  font-size: 85px;
  bottom: 0;
  background: #333333;
  left: 50px;
  text-transform: uppercase;
  width: 848px;
  padding-right: 100px;
  padding-bottom: 0;
  z-index: 999;
  font-weight: normal;
  cursor: normal;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 130, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h2 {
  font-family: 'Amatica SC', cursive;
  font-size: 50px;
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 138, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h3 {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 146, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info {
  width: 400px;
  float: right;
  text-align: right;
}

/* line 150, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info b {
  color: #993629;
}

/* line 153, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info p {
  text-align: justify;
}

/* line 156, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info span {
  cursor: default;
}

/* line 159, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info a {
  cursor: help;
}

/* line 164, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat-block {
  float: left;
  transform: scale(0.9, 0.9);
  position: relative;
  top: -45px;
}

/* line 171, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  border: 2px solid #993629;
  border-radius: 25px;
  text-align: center;
}

/* line 178, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat span {
  font-size: 60px;
  font-family: 'Nova Mono', monospace;
  position: relative;
  height: 70px;
  width: 70px;
  overflow: hidden;
  bottom: 40px;
}

/* line 187, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat b {
  font-family: 'Wire One', sans-serif;
  font-size: 40px;
  position: relative;
  top: 90px;
  background: #993629;
  padding: 0 10px;
  border-radius: 5px 5px 20px 20px;
  display: inline-block;
  width: 50px;
}

/* line 198, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat i {
  font-family: 'Noto Sans', sans-serif;
  background: #dddddd;
  color: #993629;
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  position: relative;
  top: -145px;
  width: 50px;
  border-radius: 20px 20px 5px 5px;
  border: 2px solid #993629;
  display: inline-block;
}

/* line 212, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills {
  position: relative;
  width: 200px;
  text-align: left;
  top: -161px;
  right: -130px;
  font-size: 15px;
}

/* line 219, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills i {
  border: none;
  font-family: FontAwesome;
  border-radius: 0;
  font-size: 23px;
  background: transparent;
  color: #993629;
  width: auto;
  height: auto;
  margin-bottom: -7px;
  margin-left: -18px;
  margin-right: 5px;
  padding: 0;
  float: none;
  position: initial;
}

/* line 235, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills span {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  position: initial;
  margin-left: 20px;
}

/* line 240, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills span i {
  font-size: 16px;
  margin-bottom: -3px;
}

/* line 248, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  position: relative;
  float: right;
  top: 65px;
  right: -30px;
}

/* line 256, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment h3 {
  transform: rotate(-45deg);
  cursor: default;
  padding-bottom: 30px;
  position: relative;
  top: 50px;
  right: 50px;
}

/* line 266, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.turn {
  transform: rotate(-90deg);
}

/* line 270, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment-label {
  z-index: 9999;
  position: relative;
  text-align: center;
  width: 76px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 279, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
th, td {
  background: #dddddd;
  border: 5px solid #333333;
  width: 20px;
  height: 20px;
  font-size: 0;
  border-collapse: collapse;
  border-radius: 5px;
}

/* line 289, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
table .selected {
  background: #993629;
  cursor: help;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 296, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
table {
  border-collapse: collapse;
  pointer-events: none;
  display: block;
  height: 100px;
  width: 100px;
}

/* line 304, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpexp {
  padding: 20px;
  margin: 0px 100px;
  cursor: default;
  position: relative;
  margin-left: 300px;
  top: 385px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 312, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpexp #hp {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 75px;
}

/* line 320, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpexp .hpbar {
  position: relative;
  height: 15px;
  margin: 0px 20px;
  background-color: #dddddd;
  border: 2px solid #dddddd;
  border-radius: 50px;
  opacity: 0.7;
}

/* line 329, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpexp .hpbarinner {
  position: absolute;
  height: 15px;
  background-color: darkred;
  background-image: url("https://dl.dropboxusercontent.com/s/e6g1iuwl5kywcaj/black-twill%20%281%29.png");
  border-radius: 50px;
}

/* line 340, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info {
  width: 300px;
  float: right;
  position: fixed;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  padding: 20px;
  left: 633px;
}

/* line 348, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info button {
  outline: 0;
  background: transparent;
  font-family: 'Noto Sans', sans-serif;
  border: 0;
  color: #dddddd;
  padding: 0;
  font-size: 15px;
  border-bottom: 2px solid #993629;
  cursor: help;
}

/* line 359, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info span {
  display: block;
  font-size: 15px;
  margin-left: 15px;
}

/* line 364, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info b {
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  left: -20px;
}

/* line 375, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container {
  width: 535px;
  margin-top: 50px;
}

/* line 378, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container h2 {
  color: #993629;
  padding-left: 25px;
  font-weight: 500;
  border-bottom: 2px solid #dddddd;
}

/* line 385, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container ul li {
  float: none;
  display: block;
}

/* line 388, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container ul li::before {
  content: "●";
  display: inline-block;
  color: #993629;
  margin-right: 10px;
}

/* line 396, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container p {
  padding: 0 10px;
}

/* line 399, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation {
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  margin: 0 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* line 405, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation span {
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 30px;
  font-weight: 900;
}

/* line 411, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation b {
  display: block;
  margin-left: 40px;
  font-weight: normal;
  opacity: 0.5;
}

/* line 416, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation b::before {
  content: "—";
  display: inline-block;
}

/* line 421, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation p {
  text-align: justify;
  font-size: 15px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 430, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip {
  font-family: 'Amatica SC', cursive;
  font-size: 40px;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: #993629;
  text-decoration-skip: ink;
  padding-right: 100px;
}

/* line 438, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip::before {
  display: block;
  content: "";
  border-bottom: 4px solid #993629;
  top: 54px;
  position: relative;
}

/* line 445, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip::after {
  display: block;
  content: "";
  border-bottom: 4px solid #993629;
  width: 96px;
  position: relative;
  top: -9px;
  left: 800px;
}

/* line 456, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equip {
  cursor: pointer;
}

/* line 458, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equip::before {
  width: 663px;
}

/* line 463, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equipment {
  text-align: center;
  width: 900px;
  overflow: hidden;
}

/* line 467, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equipment img {
  margin: auto;
  width: 650px;
}

/* line 473, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  top: 128px;
  left: 163px;
  z-index: 999;
}

/* line 480, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  left: 196px;
  top: 6px;
  transform: rotate(-22deg);
}

/* line 491, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear::after {
  display: block;
  content: "circlets, crowns, hats, headbands, helmets";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 505, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear:hover::after {
  height: 35px;
}

/* line 511, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 599px;
}

/* line 518, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-17deg);
  top: 39px;
  right: 97px;
}

/* line 529, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear::after {
  display: block;
  content: "goggles, lenses, masks, spectacles, third eyes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 543, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear:hover::after {
  height: 35px;
}

/* line 549, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 197px;
  left: 590px;
}

/* line 556, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(12deg);
  top: 15px;
  right: 98px;
}

/* line 567, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear::after {
  display: block;
  content: "amulets, badges, brooches, collars, medals, medallions, necklaces, pendants, periapts, scarabs, scarfs, torcs";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 581, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear:hover::after {
  height: 70px;
}

/* line 587, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 201px;
  left: 97px;
}

/* line 594, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(18deg);
  top: 40px;
  right: -197px;
}

/* line 605, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders::after {
  display: block;
  content: "capes, cloaks, mantles, shawls";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 619, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders:hover::after {
  height: 20px;
}

/* line 625, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 287px;
  left: 152px;
}

/* line 632, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-15deg);
  top: 12px;
  right: -198px;
}

/* line 643, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body::after {
  display: block;
  content: "armor, robes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 657, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body:hover::after {
  height: 20px;
}

/* line 663, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 299px;
  left: 609px;
}

/* line 670, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(27deg);
  top: 3px;
  right: 92px;
}

/* line 681, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso::after {
  display: block;
  content: "shirts, tunics, vests, vestments";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 695, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso:hover::after {
  height: 20px;
}

/* line 701, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 420px;
  left: 667px;
}

/* line 708, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-22deg);
  top: 44px;
  right: 95px;
}

/* line 719, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands::after {
  display: block;
  content: "gauntlets, gloves";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 733, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands:hover::after {
  height: 20px;
}

/* line 739, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 360px;
  left: 83px;
}

/* line 746, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(20deg);
  top: 42px;
  right: -196px;
}

/* line 757, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms::after {
  display: block;
  content: "armbands, bracelets, bracers";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 771, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms:hover::after {
  height: 20px;
}

/* line 777, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 441px;
  left: 164px;
}

/* line 784, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-35deg);
  top: -3px;
  right: -190px;
}

/* line 795, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist::after {
  display: block;
  content: "belts, girdles, sashes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 809, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist:hover::after {
  height: 20px;
}

/* line 815, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 572px;
  left: 611px;
}

/* line 822, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(24deg);
  top: 5px;
  right: 95px;
}

/* line 833, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants::after {
  display: block;
  content: "pants";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 847, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants:hover::after {
  height: 20px;
}

/* line 853, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 703px;
  left: 611px;
}

/* line 860, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-31deg);
  top: 50px;
  right: 92px;
}

/* line 871, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet::after {
  display: block;
  content: "boots, sandals, shoes, slippers";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 885, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet:hover::after {
  height: 20px;
}

/* line 891, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ring {
  width: 200px;
  position: absolute;
  z-index: 999;
  top: 545px;
  padding-bottom: 3px;
  left: 107px;
  border: 2px solid #993629;
  border-radius: 5px;
}

/* line 900, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ring::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-20deg);
  top: -19px;
  right: -179px;
}

/* line 913, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters {
  background: #dddddd;
  color: #993629;
  border-radius: 15px;
  margin-top: 10px;
  position: sticky;
  top: 10px;
  height: 100px;
  z-index: 999;
  padding: 10px;
}

/* line 923, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button-group {
  display: inline-block;
  float: left;
}

/* line 927, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts {
  float: right;
}

/* line 930, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters h3 {
  font-family: 'Amatica SC', cursive;
  display: inline-block;
  font-size: 25px;
}

/* line 935, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters {
  width: 40%;
  float: left;
}

/* line 938, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters h3 {
  float: right;
  border-left: 2px solid #993629;
  padding-left: 20px;
  height: 100px;
}

/* line 944, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters #reset {
  float: right;
  position: relative;
  top: 55px;
  left: 55px;
}

/* line 951, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts {
  width: 40%;
  float: right;
}

/* line 954, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts h3 {
  float: left;
  border-right: 2px solid #993629;
  padding-right: 20px;
  height: 100px;
}

/* line 960, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts #reset {
  float: left;
  position: relative;
  top: 55px;
  right: 55px;
}

/* line 967, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button {
  background: transparent;
  border: 0;
  outline: 0;
  margin-top: 5px;
  color: #333333;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 974, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i {
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 978, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i:hover::before {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: #993629;
  color: #dddddd;
}

/* line 984, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i::before {
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 30px;
}

/* line 993, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .is-checked {
  color: #993629;
}

/* line 999, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inv::before {
  width: 714px;
}

/* line 1004, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inventory {
  padding: 20px 50px;
  display: inline-block;
  text-align: center;
  width: 900px;
}

/* line 1009, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inventory::after {
  display: block;
  clear: both;
  content: '';
}

/* line 1016, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item {
  width: 300px;
  padding: 10px 20px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  float: left;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
}

/* line 1027, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item .item-weight::after {
  content: 'lb.';
  display: inline-block;
  margin-left: 3px;
}

/* line 1034, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item .item-value::after {
  content: 'gp';
  display: inline-block;
  margin-left: 3px;
}

/* line 1040, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item b {
  font-family: 'Amatica SC', cursive;
  font-size: 35px;
}

/* line 1044, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item i {
  background: #993629;
  border-radius: 50%;
  border: 5px solid #993629;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1050, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item i::before {
  content: 'x';
  display: inline-block;
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

/* line 1058, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item p {
  text-align: justify;
  margin: auto -10px;
}

/* line 1062, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1067, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span a {
  background: #993629;
  padding: 0 10px;
  padding-bottom: 3px;
  border-radius: 5px;
  font-size: 14px;
  margin: 3px 5px;
  display: inline-block;
}

/* line 1076, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span a[title] {
  cursor: help;
}

/*# sourceMappingURL=../css/shae.map */