@charset "UTF-8";
/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback {
  background: #333333;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 10, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback a {
  display: none;
  margin-top: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.7s;
  -moz-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

/* line 18, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback::after {
  content: "";
  background: #dddddd;
  height: 15px;
  width: 15px;
  z-index: 99;
  display: block;
  transform: rotate(45deg);
  position: fixed;
  right: 17px;
  bottom: 28px;
  border-radius: 3px;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 32, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover {
  width: 100px;
  color: #dddddd;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 36, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover::after {
  background: #993629;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 40, C:/Users/Cher/Documents/GitHub/Sheet/scss/_linkback.scss */
.linkback:hover a {
  display: block;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.7s;
  -moz-transition: all linear 0.7s;
  -o-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs {
  float: none;
  list-style: none;
  text-align: left;
  width: 50px;
}

/* line 6, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs li {
  float: left;
  display: block;
}

/* line 10, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

/* line 15, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  color: #dddddd;
  border-bottom: 0;
  position: relative;
  right: 48px;
  width: 50px;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 29, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label:hover {
  background-color: #993629;
}

/* line 31, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label:hover::after {
  overflow: visible;
}

/* line 35, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs label::after {
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  overflow: hidden;
  z-index: 99999;
  top: 50px;
  width: 0;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 48, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs .tab-content {
  display: none;
  overflow: scroll;
  font-size: 17px;
  padding: 25px;
  color: #dddddd;
  background-color: #333333;
  bottom: 10px;
  position: fixed;
  width: 900px;
  top: 0;
  bottom: 0;
  left: 50px;
  padding-bottom: 200px;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;
}

/* line 63, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs .tab-content::after {
  width: 100%;
  height: 10px;
  display: block;
  background: #993629;
  position: fixed;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 999;
}

/* line 76, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs [id^="tab"]:checked + label {
  border-right: 5px solid #993629;
  width: 45px;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;
}

/* line 81, C:/Users/Cher/Documents/GitHub/Sheet/scss/_tabs.scss */
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;
}

/* line 1, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#s-m-t-tooltip {
  max-width: 300px;
  z-index: 10;
  margin: 24px 14px 7px 12px;
  padding: 8px;
  background: #333333;
  border: 2px solid #dddddd;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #dddddd;
}

/* line 14, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::selection {
  background: #993629;
}

/* line 17, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-moz-selection {
  background: #993629;
}

/* line 21, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* line 26, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar-thumb {
  background: #993629;
}

/* line 30, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
::-webkit-scrollbar-track {
  background: #333333;
}

/* line 34, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
s {
  text-decoration-color: #993629;
}

/* line 38, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-widget-content {
  border: none;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  border-radius: 0;
  background: #333333;
  color: #dddddd;
  font-size: 16px;
}

/* line 48, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-widget {
  font-family: 'Noto Sans', sans-serif;
}

/* line 53, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-dialog .ui-dialog-titlebar {
  border: 0;
  background: transparent;
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 40px;
  padding: .1em 1em;
}

/* line 63, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ui-button {
  border: 2px solid #993629;
  outline: 0;
  background: #dddddd;
}

/* line 69, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.text {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

/* line 76, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
body {
  font-family: 'Noto Sans', sans-serif;
}

/* line 80, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.diag {
  display: none;
}

/* line 84, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.side {
  background: #993629;
  opacity: 0.7;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

/* line 95, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.gradient {
  height: 100%;
  position: fixed;
  z-index: -99999;
  right: 0;
  top: 0;
  left: 1000px;
  opacity: 0.7;
  background: #333333;
}

/* line 110, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h1 {
  position: fixed;
  font-family: 'Wire One', sans-serif;
  font-size: 85px;
  bottom: 0;
  background: #333333;
  left: 50px;
  text-transform: uppercase;
  width: 848px;
  padding-right: 100px;
  padding-bottom: 0;
  z-index: 999;
  font-weight: normal;
  cursor: normal;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 130, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h2 {
  font-family: 'Amatica SC', cursive;
  font-size: 50px;
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 138, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
h3 {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 146, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info {
  width: 475px;
  float: right;
  text-align: right;
}

/* line 150, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info b {
  color: #993629;
}

/* line 153, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info p {
  text-align: justify;
}

/* line 156, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info span {
  cursor: default;
}

/* line 159, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.basic-info a {
  cursor: help;
}

/* line 164, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat-block {
  float: left;
  transform: scale(0.9, 0.9);
  position: relative;
  top: -45px;
}

/* line 171, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  border: 2px solid #993629;
  border-radius: 25px;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 180, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat span {
  font-size: 60px;
  font-family: 'Nova Mono', monospace;
  position: relative;
  height: 70px;
  width: 70px;
  overflow: hidden;
  bottom: 40px;
}

/* line 189, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat b {
  font-family: 'Wire One', sans-serif;
  font-size: 40px;
  position: relative;
  top: 90px;
  background: #993629;
  padding: 0 10px;
  border-radius: 5px 5px 20px 20px;
  display: inline-block;
  width: 50px;
}

/* line 200, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat i {
  font-family: 'Noto Sans', sans-serif;
  background: #dddddd;
  color: #993629;
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  position: relative;
  top: -145px;
  width: 50px;
  border-radius: 20px 20px 5px 5px;
  border: 2px solid #993629;
  display: inline-block;
}

/* line 214, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills {
  position: relative;
  width: 200px;
  text-align: left;
  top: -161px;
  right: -130px;
  font-size: 15px;
}

/* line 221, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills i {
  border: none;
  font-family: FontAwesome;
  border-radius: 0;
  font-size: 23px;
  background: transparent;
  color: #993629;
  width: auto;
  height: auto;
  margin-bottom: -7px;
  margin-left: -18px;
  margin-right: 5px;
  padding: 0;
  float: none;
  position: initial;
}

/* line 237, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills span {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  position: initial;
  margin-left: 20px;
}

/* line 242, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stat .stat-skills span i {
  font-size: 16px;
  margin-bottom: -3px;
}

/* line 250, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  float: left;
  position: relative;
  right: -130px;
}

/* line 257, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment h3 {
  transform: rotate(-45deg);
  cursor: default;
  padding-bottom: 30px;
  position: relative;
  top: 50px;
  right: 50px;
}

/* line 267, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.turn {
  transform: rotate(-90deg);
}

/* line 271, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.alignment-label {
  z-index: 9999;
  position: relative;
  text-align: center;
  width: 76px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 280, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
th, td {
  background: #dddddd;
  border: 5px solid #333333;
  width: 20px;
  height: 20px;
  font-size: 0;
  border-collapse: collapse;
  border-radius: 5px;
}

/* line 290, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
table .selected {
  background: #993629;
  cursor: help;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 297, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
table {
  border-collapse: collapse;
  pointer-events: none;
  display: block;
  height: 100px;
  width: 100px;
}

/* line 305, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpcontainer {
  cursor: default;
  padding: 0 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 309, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpcontainer #hp {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  display: inline-block;
  position: relative;
  bottom: 35px;
  left: 40px;
}

/* line 317, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpcontainer .hpbar {
  position: relative;
  height: 30px;
  background-color: #dddddd;
  border: 2px solid #993629;
  border-radius: 50px;
  opacity: 0.7;
}

/* line 325, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#hpcontainer .hpbarinner {
  position: absolute;
  height: 30px;
  background-color: darkred;
  background-image: url("https://dl.dropboxusercontent.com/s/e6g1iuwl5kywcaj/black-twill%20%281%29.png");
  border-radius: 50px;
}

/* line 334, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#basicscontainer {
  width: 500px;
  float: right;
  border-top: 2px solid #dddddd;
  padding-top: 25px;
  margin-top: 25px;
}

/* line 342, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.stattbox {
  display: inline-block;
  text-align: right;
  width: 50%;
  float: right;
}

/* line 349, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.statt {
  border: 2px solid #993629;
  height: 60px;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
}

/* line 355, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.statt b {
  background: #993629;
  display: inline-block;
  position: relative;
  top: 36px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  font-family: 'Wire One', sans-serif;
  font-size: 25px;
}

/* line 365, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.statt span {
  font-family: 'Nova Mono', monospace;
  display: inline-block;
  position: relative;
  font-size: 40px;
  top: -37px;
}

/* line 374, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info {
  width: 300px;
  float: right;
  position: fixed;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  padding: 20px;
  left: 633px;
}

/* line 382, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info button {
  outline: 0;
  background: transparent;
  font-family: 'Noto Sans', sans-serif;
  border: 0;
  color: #dddddd;
  padding: 0;
  font-size: 15px;
  border-bottom: 2px solid #993629;
  cursor: help;
}

/* line 393, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info span {
  display: block;
  font-size: 15px;
  margin-left: 15px;
}

/* line 398, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-info b {
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  left: -20px;
}

/* line 409, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container {
  width: 535px;
}

/* line 411, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container h2 {
  color: #993629;
  padding-left: 25px;
  font-weight: 500;
  border-bottom: 2px solid #dddddd;
}

/* line 418, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container ul li {
  float: none;
  display: block;
}

/* line 421, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container ul li::before {
  content: "●";
  display: inline-block;
  color: #993629;
  margin-right: 10px;
}

/* line 429, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container p {
  padding: 0 10px;
}

/* line 432, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation {
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  margin: 0 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* line 438, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation span {
  color: #993629;
  font-family: 'Amatica SC', cursive;
  font-size: 30px;
  font-weight: 900;
}

/* line 444, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation b {
  display: block;
  margin-left: 40px;
  font-weight: normal;
  opacity: 0.5;
}

/* line 449, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation b::before {
  content: "—";
  display: inline-block;
}

/* line 454, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.bio-container .relation p {
  text-align: justify;
  font-size: 15px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 463, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip {
  font-family: 'Amatica SC', cursive;
  font-size: 40px;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: #993629;
  text-decoration-skip: ink;
  padding-right: 100px;
}

/* line 471, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip::before {
  display: block;
  content: "";
  border-bottom: 4px solid #993629;
  top: 54px;
  position: relative;
}

/* line 478, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
#equip::after {
  display: block;
  content: "";
  border-bottom: 4px solid #993629;
  width: 96px;
  position: relative;
  top: -9px;
  left: 800px;
}

/* line 489, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equip {
  cursor: pointer;
}

/* line 491, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equip::before {
  width: 663px;
}

/* line 496, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equipment {
  text-align: center;
  width: 900px;
  overflow: hidden;
}

/* line 500, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.equipment img {
  margin: auto;
  width: 650px;
}

/* line 506, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  top: 128px;
  left: 163px;
  z-index: 999;
}

/* line 513, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  left: 196px;
  top: 6px;
  transform: rotate(-22deg);
}

/* line 524, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear::after {
  display: block;
  content: "circlets, crowns, hats, headbands, helmets";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 538, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.headgear:hover::after {
  height: 35px;
}

/* line 544, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 599px;
}

/* line 551, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-17deg);
  top: 39px;
  right: 97px;
}

/* line 562, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear::after {
  display: block;
  content: "goggles, lenses, masks, spectacles, third eyes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 576, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.facegear:hover::after {
  height: 35px;
}

/* line 582, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 197px;
  left: 590px;
}

/* line 589, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(12deg);
  top: 15px;
  right: 98px;
}

/* line 600, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear::after {
  display: block;
  content: "amulets, badges, brooches, collars, medals, medallions, necklaces, pendants, periapts, scarabs, scarfs, torcs";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 614, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.neckgear:hover::after {
  height: 70px;
}

/* line 620, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 201px;
  left: 97px;
}

/* line 627, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(18deg);
  top: 40px;
  right: -197px;
}

/* line 638, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders::after {
  display: block;
  content: "capes, cloaks, mantles, shawls";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 652, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.shoulders:hover::after {
  height: 20px;
}

/* line 658, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 287px;
  left: 152px;
}

/* line 665, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-15deg);
  top: 12px;
  right: -198px;
}

/* line 676, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body::after {
  display: block;
  content: "armor, robes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 690, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.body:hover::after {
  height: 20px;
}

/* line 696, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 299px;
  left: 609px;
}

/* line 703, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(27deg);
  top: 3px;
  right: 92px;
}

/* line 714, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso::after {
  display: block;
  content: "shirts, tunics, vests, vestments";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 728, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.torso:hover::after {
  height: 20px;
}

/* line 734, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 420px;
  left: 667px;
}

/* line 741, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-22deg);
  top: 44px;
  right: 95px;
}

/* line 752, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands::after {
  display: block;
  content: "gauntlets, gloves";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 766, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.hands:hover::after {
  height: 20px;
}

/* line 772, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 360px;
  left: 83px;
}

/* line 779, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(20deg);
  top: 42px;
  right: -196px;
}

/* line 790, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms::after {
  display: block;
  content: "armbands, bracelets, bracers";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 804, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.arms:hover::after {
  height: 20px;
}

/* line 810, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 441px;
  left: 164px;
}

/* line 817, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-35deg);
  top: -3px;
  right: -190px;
}

/* line 828, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist::after {
  display: block;
  content: "belts, girdles, sashes";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 842, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.waist:hover::after {
  height: 20px;
}

/* line 848, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 572px;
  left: 611px;
}

/* line 855, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(24deg);
  top: 5px;
  right: 95px;
}

/* line 866, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants::after {
  display: block;
  content: "pants";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 880, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.pants:hover::after {
  height: 20px;
}

/* line 886, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet {
  width: 200px;
  border-bottom: 2px solid #993629;
  position: absolute;
  z-index: 999;
  top: 703px;
  left: 611px;
}

/* line 893, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-31deg);
  top: 50px;
  right: 92px;
}

/* line 904, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet::after {
  display: block;
  content: "boots, sandals, shoes, slippers";
  width: 190px;
  text-align: right;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  height: 0;
  font-size: 12px;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 918, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.feet:hover::after {
  height: 20px;
}

/* line 924, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ring {
  width: 200px;
  position: absolute;
  z-index: 999;
  top: 545px;
  padding-bottom: 3px;
  left: 107px;
  border: 2px solid #993629;
  border-radius: 5px;
}

/* line 933, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.ring::before {
  border-bottom: 2px solid #993629;
  width: 100px;
  z-index: 999;
  content: "";
  display: block;
  position: relative;
  transform: rotate(-20deg);
  top: -19px;
  right: -179px;
}

/* line 946, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters-containter {
  background: #333333;
  position: sticky;
  top: 0;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  z-index: 999999999;
}

/* line 956, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters {
  background: #dddddd;
  color: #993629;
  border-radius: 15px;
  margin-top: 10px;
  height: 100px;
  padding: 10px;
}

/* line 963, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button-group {
  display: inline-block;
  float: left;
}

/* line 967, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts {
  float: right;
}

/* line 970, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters h3 {
  font-family: 'Amatica SC', cursive;
  display: inline-block;
  font-size: 25px;
}

/* line 975, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters {
  width: 40%;
  float: left;
}

/* line 978, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters h3 {
  float: right;
  border-left: 2px solid #993629;
  padding-left: 20px;
  height: 100px;
}

/* line 984, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #filters #reset {
  float: right;
  position: relative;
  top: 55px;
  left: 55px;
}

/* line 991, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts {
  width: 40%;
  float: right;
}

/* line 994, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts h3 {
  float: left;
  border-right: 2px solid #993629;
  padding-right: 20px;
  height: 100px;
}

/* line 1000, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters #sorts #reset {
  float: left;
  position: relative;
  top: 55px;
  right: 55px;
}

/* line 1007, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button {
  background: transparent;
  border: 0;
  outline: 0;
  margin-top: 5px;
  color: #333333;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 1014, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i {
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 1018, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i:hover::before {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: #993629;
  color: #dddddd;
}

/* line 1024, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .button i::before {
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 30px;
}

/* line 1033, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.filters .is-checked {
  color: #993629;
}

/* line 1039, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inv::before {
  width: 714px;
}

/* line 1044, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inventory {
  padding: 20px 30px;
  display: inline-block;
  width: 900px;
}

/* line 1048, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.inventory::after {
  display: block;
  clear: both;
  content: '';
}

/* line 1055, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item {
  width: 300px;
  padding: 10px 20px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  float: left;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
}

/* line 1066, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item .item-weight::after {
  content: 'lb.';
  display: inline-block;
  margin-left: 3px;
}

/* line 1073, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item .item-value::after {
  content: 'gp';
  display: inline-block;
  margin-left: 3px;
}

/* line 1079, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item b {
  font-family: 'Amatica SC', cursive;
  font-size: 35px;
}

/* line 1083, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item i {
  background: #993629;
  border-radius: 50%;
  border: 5px solid #993629;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1089, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item i::before {
  content: 'x';
  display: inline-block;
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

/* line 1097, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item p {
  text-align: justify;
  margin: auto -10px;
}

/* line 1101, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span {
  text-align: center;
  display: block;
  cursor: default;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1107, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span a {
  background: #993629;
  padding: 0 10px;
  padding-bottom: 3px;
  border-radius: 5px;
  font-size: 14px;
  margin: 3px 5px;
  display: inline-block;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1118, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item span a[title] {
  cursor: help;
}

/* line 1124, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item-container {
  width: 800px;
  padding: 10px 20px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  border-top: 2px solid #993629;
  border-bottom: 2px solid #993629;
  margin-bottom: 15px;
}

/* line 1133, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item-container b {
  font-family: 'Amatica SC', cursive;
  font-size: 35px;
}

/* line 1137, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item-container i {
  background: #993629;
  border-radius: 50%;
  border: 5px solid #993629;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1143, C:/Users/Cher/Documents/GitHub/Sheet/scss/_shared.scss */
.item-container i::before {
  content: 'x';
  display: inline-block;
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

/*# sourceMappingURL=../css/shae.map */