.bio-info {
  width: 300px;
  float: right;
  position: fixed;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  padding: 20px;
  left: 633px;
  button {
    outline: 0;
    background: transparent;
    font-family: 'Noto Sans', sans-serif;
    border: 0;
    color: $font;
    padding: 0;
    font-size: 15px;
    border-bottom: 2px solid $accent;
    cursor: help;
  }
  span {
    display: block;
    font-size: 15px;
    margin-left: 15px;
  }
  b {
    color: $accent;
    font-family: 'Amatica SC', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    position: relative;
    left: -20px;
  }
}

.bio-container {
  width: 535px;
  h2 {
    color: $accent;
    padding-left: 25px;
    font-weight: 500;
    border-bottom: 2px solid $font;
  }
  ul {
    li {
      float: none;
      display: block;
      &::before {
        content: "●";
        display: inline-block;
        color: $accent;
        margin-right: 10px;
      }
    }
  }
  p {
    padding: 0 10px;
  }
  .relation {
    border-top: 2px solid $accent;
    border-bottom: 2px solid $accent;
    margin: 0 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
    span {
      color: $accent;
      font-family: 'Amatica SC', cursive;
      font-size: 30px;
      font-weight: 900;
    }
    b {
      display: block;
      margin-left: 40px;
      font-weight: normal;
      opacity: 0.5;
      &::before {
        content: "—";
        display: inline-block;
      }
    }
    p {
      text-align: justify;
      font-size: 15px;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
  }
}