#s-m-t-tooltip{
  max-width:300px;
  z-index:10;
  margin:24px 14px 7px 12px;
  padding:8px;
  background: $background;
  border: 2px solid $font;
  border-radius:3px;
  font-size: 14px;
  line-height:16px;
  color: $font;
}

::selection {
  background: $accent; 
}
::-moz-selection {
  background: $accent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
      
::-webkit-scrollbar-thumb {
    background: $accent;
}
      
::-webkit-scrollbar-track {
    background: $background;
}

s {
  text-decoration-color: $accent;
}

.ui-widget-content {
  border: none;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  border-radius: 0;
  background: $background;
  color: $font;
  font-size: 16px;
}

.ui-widget {
  font-family: 'Noto Sans', sans-serif;
}

.ui-dialog {
  .ui-dialog-titlebar {
    border: 0;
    background: transparent;
    color: $accent;
    font-family: 'Amatica SC', cursive;
    font-size: 40px;
    padding: .1em 1em;
  }
  block {
      display: block;
      padding-left: 50px;
    }
  b {
    color: $accent;
  }
}

.ui-button {
  border: 2px solid $accent;
  outline: 0;
  background: $font;
}

.text {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.diag {
  display: none;
}

.side {
  background: $accent;
  opacity: 0.7;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

.gradient {
  height: 100%;
  position: fixed;
  z-index: -99999;
  right: 0;
  top: 0;
  left: 1000px;
  opacity: 0.7;
  background: $background;
  //background: -webkit-linear-gradient(left, $background, transparent); 
  //background: -o-linear-gradient(right, $background, transparent); 
  //background: -moz-linear-gradient(right, $background, transparent); 
  //background: linear-gradient(to right, $background, transparent);
}

h1 {
  position: fixed;
  font-family: 'Wire One', sans-serif;
  font-size: 85px;
  bottom: 0;
  background: $background;
  left: 50px;
  text-transform: uppercase;
  width: 848px;
  padding-right: 100px;
  padding-bottom: 0;
  z-index: 999;
  font-weight: normal;
  cursor: normal;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  @include user-select(none);
}

h2 {
  font-family: 'Amatica SC', cursive;
  font-size: 50px;
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

@import 'basics';
@import 'bio';
@import 'stats';
@import 'inv';
@import 'spells';