#s-m-t-tooltip{
  max-width:300px;
  z-index:10;
  margin:24px 14px 7px 12px;
  padding:8px;
  background: $background;
  border: 2px solid $font;
  border-radius:3px;
  font-size: 14px;
  line-height:16px;
  color: $font;
}

::selection {
  background: $accent; 
}
::-moz-selection {
  background: $accent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
      
::-webkit-scrollbar-thumb {
    background: $accent;
}
      
::-webkit-scrollbar-track {
    background: $background;
}

s {
  text-decoration-color: $accent;
}

.ui-widget-content {
  border: none;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  border-radius: 0;
  background: $background;
  color: $font;
  font-size: 16px;
}

.ui-widget {
  font-family: 'Noto Sans', sans-serif;
}

.ui-dialog {
  .ui-dialog-titlebar {
    border: 0;
    background: transparent;
    color: $accent;
    font-family: 'Amatica SC', cursive;
    font-size: 40px;
    padding: .1em 1em;
  }
}

.ui-button {
  border: 2px solid $accent;
  outline: 0;
  background: $font;
}

.text {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.diag {
  display: none;
}

.side {
  background: $accent;
  opacity: 0.7;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

.gradient {
  height: 100%;
  position: fixed;
  z-index: -99999;
  right: 0;
  top: 0;
  left: 1000px;
  opacity: 0.7;
  background: $background;
  //background: -webkit-linear-gradient(left, $background, transparent); 
  //background: -o-linear-gradient(right, $background, transparent); 
  //background: -moz-linear-gradient(right, $background, transparent); 
  //background: linear-gradient(to right, $background, transparent);
}

h1 {
  position: fixed;
  font-family: 'Wire One', sans-serif;
  font-size: 85px;
  bottom: 0;
  background: $background;
  left: 50px;
  text-transform: uppercase;
  width: 848px;
  padding-right: 100px;
  padding-bottom: 0;
  z-index: 999;
  font-weight: normal;
  cursor: normal;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  @include user-select(none);
}

h2 {
  font-family: 'Amatica SC', cursive;
  font-size: 50px;
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
  font-family: 'Wire One', sans-serif;
  font-size: 35px;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.basic-info {
  width: 400px;
  float: right;
  text-align: right;
  b {
    color: $accent;
  }
  p {
    text-align: justify;
  }
  span {
    cursor: default;
  }
  a {
    cursor: help;
  }
}

.stat-block {
  float: left;
  transform: scale(0.9, 0.9);
  position: relative;
  top: -45px;
}

.stat {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  border: 2px solid $accent;
  border-radius: 25px;
  text-align: center;
  span {
    font-size: 60px;
    font-family: 'Nova Mono', monospace;
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    bottom: 40px;
  }
  b {
    font-family: 'Wire One', sans-serif;
    font-size: 40px;
    position: relative;
    top: 90px;
    background: $accent;
    padding: 0 10px;
    border-radius: 5px 5px 20px 20px;
    display: inline-block;
    width: 50px;
  }
  i {
    font-family: 'Noto Sans', sans-serif;
    background: $font;
    color: $accent;
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    position: relative;
    top: -145px;
    width: 50px;
    border-radius: 20px 20px 5px 5px;
    border: 2px solid $accent;
    display: inline-block;
  }
  .stat-skills {
    position: relative;
    width: 200px;
    text-align: left;
    top: -161px;
    right: -130px;
    font-size: 15px;
    i {
      border: none;
      font-family: FontAwesome;
      border-radius: 0;
      font-size: 23px;
      background: transparent;
      color: $accent;
      width: auto;
      height: auto;
      margin-bottom: -7px;
      margin-left: -18px;
      margin-right: 5px;
      padding: 0;
      float: none;
      position: initial;
    }
    span {
      font-size: 14px;
      font-family: 'Noto Sans', sans-serif;
      position: initial;
      margin-left: 20px;
      i {
        font-size: 16px;
        margin-bottom: -3px;
      }
    }
  }
}

.alignment {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  position: relative;
  float: right;
  top: 65px;
  right: -30px;
  h3 {
    transform: rotate(-45deg);
    cursor: default;
    padding-bottom: 30px;
    position: relative;
    top: 50px;
    right: 50px;
  }
}

.turn {
  transform: rotate(-90deg);
}

.alignment-label {
  z-index: 9999;
  position: relative;
  text-align: center;
  width: 76px; 
  cursor: default;
  @include user-select(none);
}

th, td {
  background: $font;
  border: 5px solid $background;
  width: 20px;
  height: 20px;
  font-size: 0;
  border-collapse: collapse;
  border-radius: 5px;
}

table .selected {
  background: $accent;
  cursor: help;
  pointer-events: auto;
  @include transition(all 0.3s ease-in-out);
}

table {
  border-collapse: collapse;
  pointer-events: none;
  display: block;
  height: 100px;
  width: 100px;
}

#hpexp {
    padding: 20px;
    margin: 0px 100px;
    cursor: default;
    position: relative;
    margin-left: 300px;
    top: 385px;
    @include user-select(none)
    #hp {
      font-family: 'Wire One', sans-serif;
      font-size: 35px;
      display: inline-block;
      position: absolute;
      top: 11px;
      right: 75px;
    }
    .hpbar {
      position: relative;
      height: 15px;
      margin: 0px 20px;
      background-color: $font;
      border: 2px solid $font;
      border-radius: 50px;
      opacity: 0.7;
    }
    .hpbarinner {
      position: absolute;
      height: 15px;
      background-color: darkred;
      background-image: url("https://dl.dropboxusercontent.com/s/e6g1iuwl5kywcaj/black-twill%20%281%29.png");
      border-radius: 50px;
    }
}



.bio-info {
  width: 300px;
  float: right;
  position: fixed;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  padding: 20px;
  left: 633px;
  button {
    outline: 0;
    background: transparent;
    font-family: 'Noto Sans', sans-serif;
    border: 0;
    color: $font;
    padding: 0;
    font-size: 15px;
    border-bottom: 2px solid $accent;
    cursor: help;
  }
  span {
    display: block;
    font-size: 15px;
    margin-left: 15px;
  }
  b {
    color: $accent;
    font-family: 'Amatica SC', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    position: relative;
    left: -20px;
  }
}

.bio-container {
  width: 535px;
  margin-top: 50px;
  h2 {
    color: $accent;
    padding-left: 25px;
    font-weight: 500;
    border-bottom: 2px solid $font;
  }
  ul {
    li {
      float: none;
      display: block;
      &::before {
        content: "●";
        display: inline-block;
        color: $accent;
        margin-right: 10px;
      }
    }
  }
  p {
    padding: 0 10px;
  }
  .relation {
    border-top: 2px solid $accent;
    border-bottom: 2px solid $accent;
    margin: 0 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
    span {
      color: $accent;
      font-family: 'Amatica SC', cursive;
      font-size: 30px;
      font-weight: 900;
    }
    b {
      display: block;
      margin-left: 40px;
      font-weight: normal;
      opacity: 0.5;
      &::before {
        content: "—";
        display: inline-block;
      }
    }
    p {
      text-align: justify;
      font-size: 15px;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
  }
}

#equip {
  font-family: 'Amatica SC', cursive;
  font-size: 40px;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: $accent;
  text-decoration-skip: ink;
  padding-right: 100px;
  &::before {
    display: block;
    content: "";
    border-bottom: 4px solid $accent;
    top: 54px;
    position: relative;
  }
  &::after {
    display: block;
    content: "";
    border-bottom: 4px solid $accent;
    width: 96px;
    position: relative;
    top: -9px;
    left: 800px;
  }
}

.equip {
  cursor: pointer;
  &::before {
    width: 663px;
  }
}

.equipment {
  text-align: center;
  width: 900px;
  overflow: hidden;
  img {
    margin: auto;
    width: 650px;
  }
}

.headgear {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  top: 128px;
  left: 163px;
  z-index: 999;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    left: 196px;
    top: 6px;
    transform: rotate(-22deg);
  }
  &::after {
    display: block;
    content: "circlets, crowns, hats, headbands, helmets";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 35px;
    }
  }
}

.facegear {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 599px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-17deg);
    top: 39px;
    right: 97px;
  }
  &::after {
    display: block;
    content: "goggles, lenses, masks, spectacles, third eyes";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 35px;
    }
  }
}

.neckgear {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 197px;
  left: 590px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(12deg);
    top: 15px;
    right: 98px;
  }
  &::after {
    display: block;
    content: "amulets, badges, brooches, collars, medals, medallions, necklaces, pendants, periapts, scarabs, scarfs, torcs";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 70px;
    }
  }
}

.shoulders {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 201px;
  left: 97px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(18deg);
    top: 40px;
    right: -197px;
  }
  &::after {
    display: block;
    content: "capes, cloaks, mantles, shawls";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.body {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 287px;
  left: 152px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-15deg);
    top: 12px;
    right: -198px;
  }
  &::after {
    display: block;
    content: "armor, robes";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.torso {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 299px;
  left: 609px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(27deg);
    top: 3px;
    right: 92px;
  }
  &::after {
    display: block;
    content: "shirts, tunics, vests, vestments";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.hands {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 420px;
  left: 667px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-22deg);
    top: 44px;
    right: 95px;
  }
  &::after {
    display: block;
    content: "gauntlets, gloves";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.arms {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 360px;
  left: 83px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(20deg);
    top: 42px;
    right: -196px;
  }
  &::after {
    display: block;
    content: "armbands, bracelets, bracers";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.waist {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 441px;
  left: 164px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-35deg);
    top: -3px;
    right: -190px;
  }
  &::after {
    display: block;
    content: "belts, girdles, sashes";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.pants {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 572px;
  left: 611px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(24deg);
    top: 5px;
    right: 95px;
  }
  &::after {
    display: block;
    content: "pants";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.feet {
  width: 200px;
  border-bottom: 2px solid $accent;
  position: absolute;
  z-index: 999;
  top: 703px;
  left: 611px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-31deg);
    top: 50px;
    right: 92px;
  }
  &::after {
    display: block;
    content: "boots, sandals, shoes, slippers";
    width: 190px;
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    height: 0;
    font-size: 12px;
    position: absolute;
    @include transition(all 0.5s linear);
  }
  &:hover {
    &::after {
      height: 20px;
    }
  }
}

.ring {
  width: 200px;
  position: absolute;
  z-index: 999;
  top: 545px;
  padding-bottom: 3px;
  left: 107px;
  border: 2px solid $accent;
  border-radius: 5px;
  &::before {
    border-bottom: 2px solid $accent;
    width: 100px;
    z-index: 999;
    content: "";
    display: block;
    position: relative;
    transform: rotate(-20deg);
    top: -19px;
    right: -179px;
  }
}

.filters {
  background: $font;
  color: $accent;
  border-radius: 15px;
  margin-top: 10px;
  position: sticky;
  top: 10px;
  height: 100px;
  z-index: 999;
  padding: 10px;
  .button-group {
    display: inline-block;
    float: left;
  }
  #sorts {
    float: right;
  }
  h3 {
    font-family: 'Amatica SC', cursive;
    display: inline-block;
    font-size: 25px;
  }
  #filters {
    width: 40%;
    float: left;
    h3 {
      float: right;
      border-left: 2px solid $accent;
      padding-left: 20px;
      height: 100px;
    }
    #reset {
      float: right;
      position: relative;
      top: 55px;
      left: 55px;
    }
  }
  #sorts {
    width: 40%;
    float: right;
    h3 {
      float: left;
      border-right: 2px solid $accent;
      padding-right: 20px;
      height: 100px;
    }
    #reset {
      float: left;
      position: relative;
      top: 55px;
      right: 55px;
    }
  }
  .button {
    background: transparent;
    border: 0;
    outline: 0;
    margin-top: 5px;
    color: $background;
    @include transition(all 0.5s linear);
    i {
      margin: 0;
      @include transition(all 0.5s linear);
      &:hover {
        &::before {
          @include transition(all 0.5s linear);
          background: $accent;
          color: $font;
        }
      }
      &::before {
        margin: 0;
        @include transition(all 0.5s linear);
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 30px;
      }
    }
  }
  .is-checked {
    color: $accent;
  }
}

.inv {
  &::before {
    width: 714px;
  }
}

.inventory {
  padding: 20px 50px;
  display: inline-block;
  text-align: center;
  width: 900px;
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

.item {
  width: 300px;
  padding: 10px 20px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  float: left;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  .item-weight {
    &::after {
      content: 'lb.';
      display: inline-block;
      margin-left: 3px;
    }
  }
  .item-value {
    &::after {
      content: 'gp';
      display: inline-block;
      margin-left: 3px;
    }
  }
  b {
    font-family: 'Amatica SC', cursive;
    font-size: 35px;
  }
  i {
    background: $accent;
    border-radius: 50%;
    border: 5px solid $accent;
    float: right;
    @include user-select(none);
    &::before {
      content: 'x';
      display: inline-block;
      margin-right: 2px;
      position: relative;
      bottom: 1px;
    }
  }
  p {
    text-align: justify;
    margin: auto -10px;
  }
  span {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    @include user-select(none);
    a {
      background: $accent;
      padding: 0 10px;
      padding-bottom: 3px;
      border-radius: 5px;
      font-size: 14px;
      margin: 3px 5px;
      display: inline-block;
    }
    a[title] {
      cursor: help;
    }
  }
}