<block id="biography">
  <h1> Biography </h1>
  
  <div class="bio-info">
    <span> <b>Full Name</b> Character Full Name </span>
    <span> <b>Race</b> Race </span>
    <span> <b>Gender</b> Gender [ pro/nouns ] </span>
    <span> <b>Height</b> #'#'' </span>
    <span> <b>Diety</b> Diety+Faith </span>
    <span> <b>Languages</b> Languages, </span>
    <span> <b>Birthplace</b> Birthplace </span>
  </div>
  
  <div class="bio-container">
    <div class="bio-block">
      <h2>Personality</h2>
      <p>This section is for talking about Personality Traits, Ideals, Flaws,
      and just anything related to talking about the character's personality.</p>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a 
      condimentum metus. Donec ornare mi lorem, eget consectetur quam mattis ut.
      Aenean at eros nec elit imperdiet condimentum ac quis nisi. Quisque nulla
      est, commodo non tempus eget, condimentum sed ante. Ut id sem vel risus 
      ultrices cursus eu vitae nulla. Vestibulum ac lacus sagittis, elementum 
      diam quis, convallis neque. Duis nec velit sit amet elit fringilla 
      vestibulum luctus in augue. Sed ullamcorper lectus a diam elementum 
      ultricies. Sed ultrices blandit lorem ut varius. Sed semper posuere 
      lorem, eu bibendum arcu laoreet at. Duis vulputate fringilla massa at 
      volutpat. Duis tempus viverra pharetra. Morbi gravida magna ut justo 
      hendrerit, non fringilla nisi tempor. Cras quis tellus velit. 
      Pellentesque eu velit sed nibh gravida commodo ut ut dui.</p>

      <p>Donec eros diam, sollicitudin sed massa in, consequat consequat odio. 
      Duis a velit vel elit porttitor varius. Etiam consequat velit libero, ut 
      cursus enim tristique eu. Vestibulum congue mattis ultrices. Aliquam 
      lacinia lobortis felis eu rhoncus. Vivamus id arcu neque. Nam eu urna 
      nulla. Aliquam erat volutpat.</p>

      <p>Quisque consequat gravida erat et vehicula. Nulla rhoncus viverra nisl
      vel vulputate. Pellentesque imperdiet orci a nulla euismod, a fermentum 
      turpis imperdiet. Praesent eleifend condimentum elit a congue. Morbi 
      porta ullamcorper mi quis maximus. Proin feugiat ligula eget nunc 
      placerat consequat. Donec dui ex, posuere eget neque eget, pulvinar 
      rutrum purus. Praesent et leo nunc. Nulla vitae ligula vitae nisi 
      ullamcorper vehicula vel at enim. Nullam pretium feugiat sodales. Aliquam
      tempor arcu ac consequat feugiat.</p>
    </div>
  
    <div class="bio-block">
      <h2>Biography</h2>
      <p>This section is for further details into the character's backstory 
      and history.</p>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a 
      condimentum metus. Donec ornare mi lorem, eget consectetur quam mattis ut.
      Aenean at eros nec elit imperdiet condimentum ac quis nisi. Quisque nulla
      est, commodo non tempus eget, condimentum sed ante. Ut id sem vel risus 
      ultrices cursus eu vitae nulla. Vestibulum ac lacus sagittis, elementum 
      diam quis, convallis neque. Duis nec velit sit amet elit fringilla 
      vestibulum luctus in augue. Sed ullamcorper lectus a diam elementum 
      ultricies. Sed ultrices blandit lorem ut varius. Sed semper posuere 
      lorem, eu bibendum arcu laoreet at. Duis vulputate fringilla massa at 
      volutpat. Duis tempus viverra pharetra. Morbi gravida magna ut justo 
      hendrerit, non fringilla nisi tempor. Cras quis tellus velit. 
      Pellentesque eu velit sed nibh gravida commodo ut ut dui.</p>

      <p>Donec eros diam, sollicitudin sed massa in, consequat consequat odio. 
      Duis a velit vel elit porttitor varius. Etiam consequat velit libero, ut 
      cursus enim tristique eu. Vestibulum congue mattis ultrices. Aliquam 
      lacinia lobortis felis eu rhoncus. Vivamus id arcu neque. Nam eu urna 
      nulla. Aliquam erat volutpat.</p>

      <p>Quisque consequat gravida erat et vehicula. Nulla rhoncus viverra nisl
      vel vulputate. Pellentesque imperdiet orci a nulla euismod, a fermentum 
      turpis imperdiet. Praesent eleifend condimentum elit a congue. Morbi 
      porta ullamcorper mi quis maximus. Proin feugiat ligula eget nunc 
      placerat consequat. Donec dui ex, posuere eget neque eget, pulvinar 
      rutrum purus. Praesent et leo nunc. Nulla vitae ligula vitae nisi 
      ullamcorper vehicula vel at enim. Nullam pretium feugiat sodales. Aliquam
      tempor arcu ac consequat feugiat.</p>
    </div>
  
    <div class="relations">
      <h2>Bonds</h2>
      <p>This section is first for some details on how the character relates to
      others and a general overview of their bonds, followed by some specific
      details on certain important relationships. </p>
      
      
      <div class="relation">
        <span>Character Name</span>
        <b> Kind of Relationship </b>
        <p>Duis quis convallis orci. Duis volutpat eu mi nec accumsan. Morbi 
        suscipit sapien est, tempor egestas purus iaculis id. Maecenas tempus 
        convallis mattis. Fusce et augue efficitur, molestie lectus non, aliquet
        sem. Aenean nec mi eget velit ornare fermentum et quis ex. Morbi
        consequat velit elit, nec dapibus lectus tincidunt eget.</p>
      </div>
      
    </div>
    
    <div class="bio-block">
      <h2>Miscellaneous Notes</h2>
        <p> </p>
      <ul>
        <li>Note</li>
        <li>Note</li>
      </ul>
    </div>
  </div>
</block>