<block id="spellbook">
  <h1> Spellbook </h1>
  
  <div class="spell-sort-box">
    <div id="spell-filters">
    <div class="button-group" data-filter-group="level">
      <h3>Spell Level</h3>
        <button id="reset" class="button is-checked" data-filter="">All</button>
        <button class="button" data-filter=".cantrip">Cantrip</button>
        <button class="button" data-filter=".first">First Level</button>
        <button class="button" data-filter=".second">Second Level</button>
        <button class="button" data-filter=".third">Third Level</button>
      </div>
    <div class="button-group" data-filter-group="type">
      <h3>School</h3>
      <button id="reset" class="button is-checked" data-filter="">All</button>
      <button class="button" data-filter=".abjuration">Abjuration</button>
      <button class="button" data-filter=".conjuration">Conjuration</button>
      <button class="button" data-filter=".divination">Divination</button>
      <button class="button" data-filter=".enchantment">Enchantment</button>
      <button class="button" data-filter=".evocation">Evocation</button>
      <button class="button" data-filter=".illusion">Illusion</button>
      <button class="button" data-filter=".necromancy">Necromancy</button>
      <button class="button" data-filter=".transmutation">Transmutation</button>
      </div>
    <br><hr>
    </div>
    
    <div class="spell-slots">
      <h3>Spell Slots</h3>
      LV 1
      <span><b>1</b></span>
    </div>
  </div>
  
  <div class="spells">
    
<!---
    <div class="spell">
      <b>Spell Name <i>school & level</i></b>
      
      <span><a class="casting">casting time</a>
      <a class="srange">range</a>
      <a class="components">components</a>
      <a class="duration">duration</a></span>
      
      <p>Details</p>
    </div>
-->
    
    <div class="spell">
      <b>Spell Name <i>school & level</i></b>
      
      <span><a class="casting">casting time</a>
      <a class="srange">range</a>
      <a class="components">components</a>
      <a class="duration">duration</a></span>
      
      <p>Pellentesque suscipit risus vel est tempus molestie. Morbi molestie 
      maximus erat eu pretium. Fusce magna velit, interdum sed porta in, 
      aliquam sed lacus. Fusce convallis auctor scelerisque. Praesent eu 
      tincidunt felis. Quisque ornare tellus sed elit posuere aliquam. Nunc 
      vel mi eget lectus posuere pharetra. Donec ac urna et augue pulvinar 
      pellentesque ut a lectus. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas. Etiam sed tellus interdum
      arcu gravida feugiat. Duis hendrerit lectus et diam aliquet, ac 
      scelerisque lectus placerat. Pellentesque efficitur lorem quam, quis 
      imperdiet augue eleifend id. Pellentesque ultrices justo lacus, nec 
      fringilla nisl laoreet sed.</p>
    </div>
    
    <div class="spell">
      <b>Spell Name <i>school & level</i></b>
      
      <span><a class="casting">casting time</a>
      <a class="srange">range</a>
      <a class="components">components</a>
      <a class="duration">duration</a></span>
      
      <p>Pellentesque suscipit risus vel est tempus molestie. Morbi molestie 
      maximus erat eu pretium. Fusce magna velit, interdum sed porta in, 
      aliquam sed lacus. Fusce convallis auctor scelerisque. Praesent eu 
      tincidunt felis. Quisque ornare tellus sed elit posuere aliquam. Nunc 
      vel mi eget lectus posuere pharetra. Donec ac urna et augue pulvinar 
      pellentesque ut a lectus. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas. Etiam sed tellus interdum
      arcu gravida feugiat. Duis hendrerit lectus et diam aliquet, ac 
      scelerisque lectus placerat. Pellentesque efficitur lorem quam, quis 
      imperdiet augue eleifend id. Pellentesque ultrices justo lacus, nec 
      fringilla nisl laoreet sed.</p>
    </div>
    
  </div>
</block>